<div *ngIf="router1.url !== '/login' && router1.url !== '/signup'">
<div class="container-fluid bg-muted text-center text-white">
    <div class="row row-padding">
        <h1>e-<span class="text-success">Food</span></h1>
    <div class="row row-padding">
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4 align-self-center">
            <p>Any questions? Feel free to contact us!</p>
            <p><i class="fas fa-map-marker-alt"></i> Hyderabad, India</p>
            <p><i class="fas fa-mobile-alt"></i> Phone: +9029992209</p>
            <p><i class="fas fa-envelope"></i> Email: efood@gmail.com</p>
        </div>
        <div class="col-sm-4 align-self-center">
            <p>About e-Food</p>
            <p>Become a Delivery Partner</p>
            <p>Become a Restaurant Partner</p>
        </div>
        <div class="col-sm-4 align-self-center">
            <p>Help</p>
            <p>FAQs</p>
            <p>Blog</p>
        </div>
    </div>
    <div class="row row-padding">
        <hr>
    </div>
    <br><br>
</div>

</div>
<div class="row text-center row-padding">
    <a href="" (click) = "top()"><i class="fas fa-chevron-up"></i></a>
</div>
</div>