<div class="container">
    <h2>BANDRA</h2>
    <div class="row text-center">
        <div class="col-md-4" *ngFor="let item of dishes">
            <div class="card mt-3 thumbnail">
                <img src={{item.image}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <p class="card-text">Average <small>{{item.rating}}/5</small></p>
                </div>
            </div>
        </div>
    </div>
</div>