<div class="container-fluid">
  <img src="/assets/images/signup.jpg" alt="Snow">
  <div class="row text-center">
            <div class="col-lg-3"></div>
            <div class="col-12 col-sm-6 justify-content-center form" id="back">
                <br>
                <h2>R E G I S T E R</h2>
                <form>
                    <div class="form-group row">
                        <label for="first_name" class="col-md-4 col-form-label">First Name</label>
                        <div class="col-md-7">
                            <input required type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-md-4 col-form-label">Last Name</label>
                        <div class="col-md-7">
                            <input required type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user_name" class="col-md-4 col-form-label">User Name</label>
                        <div class="col-md-7">
                            <input required type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter User Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-md-4 col-form-label">Email</label>
                        <div class="col-md-7">
                            <input required type="email" class="form-control" id="email" name="email" placeholder="jhonDoe@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dob" class="col-md-4 col-form-label">Date of Birth</label>
                        <div class="col-md-7">
                            <input required type="date" class="form-control" id="dob" name="dob" placeholder="" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label">Password</label>
                        <div class="col-md-7">
                            <input required type="password" class="form-control" id="email" name="password" placeholder="Enter at least 5 charecters">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="login_text" class="col-md-12 col-form-label">
                            <a href="#" routerLink="/login">
                                <p class="text-success">
                                    Click here if you are already our customer
                                </p>
                            </a>
                        </label>
                    </div>
                    <div class="form-group row text-light">
                        <div class="col-md-12 md-5">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                    <br>
                    <br>
                </form>       
            </div>
            <div class="col-lg-3"></div>
        </div>


</div>

        